<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue App: Lists</title>
	<link rel="stylesheet" href="../vue.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="color in colors" v-if="color.primary">{{ color.text }}</li>
            <!--<li v-for="color in colors if color.primary">{{ color }}</li>-->
        </ul>
    </div>
    <script src="App.vue"></script>
</body>
</html>